<ion-header>
  <ion-navbar> <ion-title>Login</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="form" *ngIf="!this.mediaProvider.registerMode">
    <ion-item>
      <ion-label id="userLabel" floating>Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.username"
        name="Username"
        (ionBlur)="blur()"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="user.password"
        name="Password"
        required
      ></ion-input>
    </ion-item>
    <button ion-button type="submit" block (click)="login()">Login</button>
  </form>
  <form
    class="form"
    [formGroup]="registerForm"
    *ngIf="this.mediaProvider.registerMode"
  >
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.email"
        name="Email"
        formControlName="email"
        autofocus
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="
          registerForm.controls.email.status === 'INVALID' &&
          (registerForm.controls.email.dirty ||
            registerForm.controls.email.touched)
        "
      >
        Please enter a valid email.
      </div>
    </div>
    <ion-item>
      <ion-label id="userLabel" floating>Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.username"
        name="Username"
        (ionBlur)="blur()"
        formControlName="username"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="
          registerForm.controls.username.status === 'INVALID' &&
          (registerForm.controls.username.dirty ||
            registerForm.controls.username.touched)
        "
      >
        Username must be at least 3 characters long.
      </div>
    </div>
    <ion-item>
      <ion-label floating>Full name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.full_name"
        formControlName="full_name"
        name="Full Name"
      ></ion-input>
    </ion-item>
    <ion-item [formGroup]="registerForm">
      <ion-label floating>Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="user.password"
        name="Password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="
          registerForm.controls.password.status === 'INVALID' &&
          (registerForm.controls.password.dirty ||
            registerForm.controls.password.touched)
        "
      >
        Password must be 5 characters long.
      </div>
    </div>
    <ion-item>
      <ion-label floating>Re-type password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="this.re_password"
        name="Password"
        formControlName="re_password"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="
          registerForm.controls.re_password.status === 'INVALID' &&
          (registerForm.controls.re_password.dirty ||
            registerForm.controls.re_password.touched)
        "
      >
        Please re-enter your password.
      </div>
    </div>
    <button ion-button type="submit" block (click)="register()">
      Register
    </button>
  </form>
  <button id="register" ion-button clear (click)="registerModeToggle()">
    <p *ngIf="!this.mediaProvider.registerMode">
      New User? Click here to register
    </p>
    <p *ngIf="this.mediaProvider.registerMode">
      Already have an account? Click here to login
    </p>
  </button>
</ion-content>
