page-upload {
  img {
    filter: "brightness(this.brightness)";
    filter: "contrast(this.contrast)";
    filter: "saturation(this.saturation)";
    filter: "sepia(this.sepia)";
  }
  #uploadButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}
